img {
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 600px;
    margin: 2em auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

/* Styles for all sections. Padding for section classes set below. */
section {
    width: 90%;
    margin: 0;
    background: #f5f5f5; /* grey 100 */
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

section.large-box {
    padding: 1em 5% 0; /* longhand is 1em 5% 0 5% */
}

section.caption-box {
    padding: 0 5%;
}

section.thumbnails-box {
    padding: 0.5em 5%;
}

/* This is the big image */
figure.large {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    position: relative;
}

svg {
    cursor: pointer;
}

#previous-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255 255 255 / 70%);
}

#next-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255 255 255 / 70%);
}

/* These are the smaller thumbnails. Width set in media queries below. */
figure.small {
    margin: 0.5em 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    background: yellow;
}

@media all and (min-width: 300px) {
    figure.small {
        width: 45%;
    }
}

@media all and (min-width: 370px) {
    figure.small {
        width: 30%;
    }
}

@media all and (min-width: 540px) {
    figure.small {
        width: 26%;
    }
}

figure.small:hover {
    cursor: pointer;
}

/* Fonts */
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5; /* usually 1.8, but 1.5 okay because caption. */
    font-weight: 400;
}

@media all and (min-width: 300px) {
    p {
        font-size: 0.875em;
    }
}

@media all and (min-width: 400px) {
    p {
        font-size: 0.9375em;
    }
}

@media all and (min-width: 600px) {
    p {
        font-size: 1em;
    }
}
