img {
    width: 100%;
    display: block;
}

#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*Container for big image*/
section {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

/*This is the big image*/
section > figure {
    width:  100%;
    margin: 0;
    padding: 0;
}

/*Container for smaller, thumbnails*/
nav {
    width: 100%;
    margin: 1em 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/*These are the smaller thumbnails*/
nav > figure {
    margin: .5em 4.16666666667%;
    padding: 0;
    flex: 0 1 25%;
}

nav > figure > img {
    cursor: pointer;
}

/*Fonts and their media queries*/
h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 1.6em;
    line-height: 1.4;
    font-weight: 600;
}

figcaption {
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    font-weight: 400;
    margin-top: .5em;
}


@media all and (min-width: 300px) {

    h1 {
        font-size: 1.2em;
    }

    figcaption {
        font-size: 0.75em;
    }
}

@media all and (min-width: 600px) {

    h1 {
        font-size: 1.4em;
    }

    figcaption {
        font-size: 0.875em;
    }
}

@media all and (min-width: 900px) {

    h1 {
        font-size: 1.6em;
    }

    figcaption {
        font-size: 1em;
    }
}