img {
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

/*Clearfix for #container (accomplished with pseudo-element technique)*/
#container::after {
    clear: both;
    content: "";
    display: table;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}

nav {
    width: 100%;
    margin: 1em 0;
    padding: 0;
    float: left;
}

/*Clearfix for nav (accomplished with pseudo-element technique)*/
nav::after {
    clear: both;
    content: "";
    display: table;
}

section > figure {
    width:  100%;
    margin: 0;
    padding:  0;
    float: left;
}

nav > figure {
    width: 25%;
    max-width: 150px;
    margin: 0 8.3333333333333% 0 0;
    padding: 0;
    float: left;
}

nav > figure > img {
    cursor: pointer;
}

/*Fonts and their media queries*/
h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 1.6em;
    line-height: 1.4;
    font-weight: 600;
}

figcaption {
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    font-weight: 400;
    margin-top: .5em;
}


@media all and (min-width: 300px) {

    h1 {
        font-size: 1.2em;
    }

    figcaption {
        font-size: 0.75em;
    }
}

@media all and (min-width: 600px) {

    h1 {
        font-size: 1.4em;
    }

    figcaption {
        font-size: 0.875em;
    }
}

@media all and (min-width: 900px) {

    h1 {
        font-size: 1.6em;
    }

    figcaption {
        font-size: 1em;
    }
}

