:root {
    --text-primary: #161616; /* Gray 100 */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Centers gallery vertically on long screens */
#app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* main axis */
    align-items: flex-start; /* cross axis */
}

#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

/* Elements for the large image */
section.large-box {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

figure.large {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    position: relative;
}

figcaption {
    width: 100%;
    margin: 0;
    padding: 0.5em 0;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 0.875em; /* 14 px */
    line-height: 1.5;
    color: var(--text-primary);
}

svg {
    cursor: pointer;
}

#previous-arrow {
    position: absolute;
    left: 0;
    background: rgb(252 252 255 / 70%);
}

#next-arrow {
    position: absolute;
    right: 0;
    background: rgb(252 252 255 / 70%);
}

/* Media queries to position arrows */
@media (min-width: 300px) and (max-width: 599px) {
    #previous-arrow, #next-arrow {
        top: calc(33vw - 12px) /* image height 67vw, icon height 24px */
    }
}

@media (min-width: 600px) {
    #previous-arrow, #next-arrow {
        top: 188px; /* image height 400px, icon height 24px */
    }
}

/* Elements for the small thumbnail images */
section.thumbnails-box {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1em;  /* column-gap + row-gap */
}

figure.small {
    width: 100%;
    margin: 0;
    padding: 0;
}

figure.small:hover {
    cursor: pointer;
}