/* @link https://utopia.fyi/type/calculator?c=320,13,1.125,600,16,1.125,0,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --fs-0: clamp(0.8125rem, 0.5982rem + 1.0714vw, 1rem);
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
}

#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

/* Section and its classes */
section {
    width: 95%;
    margin: 0;
    background: #f1f0f4; /* neutral 95 */
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

section.large-box {
    padding: 1em 2.5% 0; /* longhand is 1em 5% 0 5% */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

section.caption-box {
    height: 4.5em;
    padding: 0 2.5%;
}

section.thumbnails-box {
    padding: 0.5em 2.5%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Figure and elements within it */
figure.large {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

svg {
    cursor: pointer;
}

#previous-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(252 252 255 / 70%);
}

#next-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(252 252 255 / 70%);
}

figure.small {
    width: 30%;
    margin: 0.5em 0;
    padding: 0;
    background: #001d33;  /* very dark blue */
    flex: initial; /* flex: 0 1 auto */
}

figure.small:hover {
    cursor: pointer;
}

/* Fonts */
p {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: var(--fs-0);
    line-height: 1.5;
    color: #1a1c1e;
}